<h1>Cards</h1>

<div class="row">
  <% @cards.each do |card| %>
  <div class="col s12 m5">
    <div class="card medium">
      <span class="card-title black-text"><%= card.name %></span>
      <div class="card-image">
        <%= image_tag card.image, :size => "200x200" %><br>
      </div>
      <div class="card-content">
        <p><%= card.message %></p>
      </div>
      <div class="card-action">
        <%= link_to "View Card", card_path(card.id) %>
      </div>
    </div>
  </div>
  <% end %>
</div>
