<h1 class="center">Categories</h1>

<div class="container">
  <div class="center-align">
    <div style="overflow: scrollbars-none;">
      <div style="overflow:scroll; height:600px;">
        <div class="categories">
          <% @categories.each do |category| %>
          <div class="row center-align">
            <div class="col s12 offset-4">
              <div class="card grey darken-2 location-card">
                <div class="card-content white-text bold">
                  <span class="card-title"><%= link_to "#{category.name.titleize}", category_path(category), class:"text-cyan text-accent-4 krista" %></span>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
